.hero {
  @apply relative w-full border-b border-stone-900 drop-shadow-2xl;
  height: calc(100vh - 130px);
}

@media (min-width: 640px) {
  .hero {
    height: calc(100vh - 80px);
  }
 }

.heroText {
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px 15px rgba(9, 23, 12, 0.25);
  background-color: rgba(9, 23, 12, 0.25);
  @apply flex flex-col items-center justify-center p-2 rounded-xl max-w-prose text-lightText top-1/4;
  @apply top-24;
  @apply sm:font-bold absolute sm:top-1/4 sm:right-14;
}

.heroText h2 {
  @apply text-3xl font-sans font-bold;
}

.heroText p {
  @apply max-w-xl my-3 text-center sm:text-base sm:py-0 text-xl tracking-wider px-2 py-4 mb-6;
}

.heroText a {
  @apply block sm:w-auto text-xl font-bold py-4 w-[90%] text-center;
}
