@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Coolvetica;
  font-display: swap;
  src: url('https://cdn.tabletop.land/ttl-assets/fonts/coolvetica.woff2') format('woff2'),
    url('https://cdn.tabletop.land/ttl-assets/fonts/coolvetica.woff') format('woff');
}

html, body, #__next {
  @apply flex flex-col w-full font-sans h-full;
}

a, a:any-link {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display text-center;
}

h1 {
  @apply text-3xl;
}

.text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
}

.card {
  @apply border border-neutral-900/20 rounded shadow-lg overflow-hidden;
}
